[submodule "src/Microsoft.Identity.Firebase"]
	path = src/Microsoft.Identity.Firebase
	url = https://github.com/FreddieMercurial/BlazorWasmFirebaseAuth.git
	branch = main
[submodule "src/firebase-js"]
	path = src/firebaseJs
	url = https://github.com/FreddieMercurial/BlazorWasmFirebaseAuthJs.git
	branch = main
